
/* Importação da fonte Roboto para usar em titulos de artigos ou textos chamativos */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Importação da fonte Lora para usar em textos de artigos ou subtitulos*/
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --cor-primaria: ;
    --cor-secundaria: ;
    --cor-terciaria: ;
    --cor-hover: ;
    --fonte-primaria:'Roboto', sans-serif;
    --fonte-secundaria:'Lora', sans-serif;
}
.container_noticias {
    display: grid; /* Define o contêiner como um grid */
    min-height: 100vh;
    grid-template-columns: repeat(4, 1fr); /* Cria 5 colunas iguais (1 fração cada) */
    grid-template-rows: auto 1fr auto;
    gap: 0; /* Define o espaçamento entre os itens do grid como 0 */
    grid-template-areas:
      "Cabecalho Cabecalho Cabecalho Cabecalho  " /* Área do cabeçalho ocupa todas as colunas */
      "conteudo_principal conteudo_principal conteudo_principal conteudo_principal  " /* Área do conteúdo principal e adicional */
      "conteudo_principal conteudo_principal conteudo_principal conteudo_principal  "
      "conteudo_principal conteudo_principal conteudo_principal conteudo_principal  "
      "conteudo_principal conteudo_principal conteudo_principal conteudo_principal  "
      "rodape rodape rodape rodape"; /* Área do rodapé ocupa todas as colunas */
} 

.conteudo_principal_noticias {
    grid-area: conteudo_principal; /* Define a área do grid para o conteúdo principal */
    padding-top: 100px;
}

.conteudo_principal_noticias{
    text-align: justify; /* Alinha o texto de forma justificada */
    margin-left: auto; /* Define margem automática à esquerda para centralizar */ 
    margin-right: auto; /* Define margem automática à direita para centralizar */
    max-width: 100vh; /* Define uma largura máxima de 100 unidades de altura da viewport */
}
.conteudo_principal_noticias{
    background-color: rgb(255, 255, 255);
}
a{
    color: rgb(0, 119, 255); /* Define a cor do link como vermelho */
    font-family: var(--fonte-primaria); /* Usa a fonte definida na variável CSS */
}
.artigo{
    padding: 20px; /* Define um espaçamento interno de 20px */
}
.artigo_titulo{
    font-family: var(--fonte-primaria);  /* Usa a fonte definida na variável CSS para o título do artigo */
}
.layout-artigos {
    margin: 0; /* Remove qualquer margem superior */
    padding: 0px; /* Preenchimento interno da área de artigos */
    flex-grow: 1; /* Faz com que a área de artigos ocupe o espaço restante */
    text-align: justify;
    margin-bottom: 20px;
}

.artigo__principal__titulo {
    font-family: var(--fonte-primaria); /* Usa a fonte primária */
    font-size: larger; /* Aumenta o tamanho da fonte */
    margin: 20px auto; /* Espaçamento acima e abaixo, centraliza horizontalmente */
}
@media (max-width: 1081px) {
    main{
        margin-top: 300px;
    }
}
#img_artigo_educacao{
    margin: 20px 0px 50px 0;
    border: solid;
    border-radius: 15px;
}
main{
    margin: 25px 0 50px 0;
}